language: python

python:
  - 3.5
  - 3.6

branches:
  # only master, canary, and tagged commits
  only:
    - master
    - canary
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/

cache:
  directories:
    - ".tox"

install:
  - pip install tox-travis

script:
  - tox -- --slow --cov-report=xml

after_success:
  - bash <(curl -s https://codecov.io/bash) -c
